/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

/*
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng
*/

/* 
1. Từ trên xuống dưới
2. Từ ngoài vào trong
3. Từ tổng quan đến chi tiết
4. 
 */

#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46.5px;
    background-color: black;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav li:hover {
    background-color: #ccc;
}

#nav li:hover a {
    color: black;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#nav .subnav a {
    color: black;
    line-height: 38.5px;
    padding: 0 100% 0 16px;
}

#nav .subnav li {
    display: block;
    height: 38.5px;
    min-width: 160px;
}

#nav > li > a {
    padding: 0 24px;
    color: white;
    text-transform: uppercase;
    line-height: 46.5px;
}

#nav li  a {
    text-decoration: none;
}

#header .search-btn {
    float: right;
    padding: 0 23px;
    cursor: pointer;
}

#header .search-btn .icon-search{
    color: white;
    line-height: 46.5px;
}

#header .search-btn:hover {
    background-color: #f44336
}

#slider {
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background: url('/assets/img/slider.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

#slider .text-heading{
    text-align: center;
    font-size: 24px;
}

#slider .text-description{
    margin-top: 25px;
    font-size: 15px;
}


#content {

}

#footer {

}
